.tertiary-button {
    font-size: 1rem;
    border: 1px solid #0f62fe;
    color: #0f62fe;
    padding: 1rem 4rem 1rem 1rem;
    width: 10%;
    font-weight: 100;
    font-family: IBM Plex Sans;
}

.tertiary-button:hover {
    background-color: #0f62fe;
    color: white;
    cursor: pointer;
}

.primary-button {
    font-size: 1rem;
    border: 1px solid #0f62fe;
    background-color: #0f62fe;
    color: white;
    padding: 1rem 4rem 1rem 1rem;
    width: 10%;
    font-weight: 100;
    font-family: IBM Plex Sans;
}

.primary-button:hover {
    /* background-color: #0f62fe; */
    /* color: white; */
    background-color: #0d58e4;
    cursor: pointer;
}

.secondary-button {
    font-size: 1rem;
    border: 1px solid #393939;
    background-color: #393939;
    color: white;
    padding: 1rem 4rem 1rem 1rem;
    width: 10%;
    font-weight: 100;
    font-family: IBM Plex Sans;
}

.secondary-button:hover {
    background-color: #4c4c4c;
    cursor: pointer;
}

.danger-button {
    font-size: 1rem;
    border: 1px solid #da1e28;
    background-color: #da1e28;
    color: white;
    padding: 1rem 4rem 1rem 1rem;
    width: 10%;
    font-weight: 100;
    font-family: IBM Plex Sans;
}

.danger-button:hover {
    background-color: #c41b24;
    cursor: pointer;
}

.ghost-button {
    font-size: 1rem;
    color: #0f62fe;
    padding: 1rem 4rem 1rem 1rem;
    width: 10%;
    font-family: IBM Plex Sans;
}

.ghost-button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.primary-button-with-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    border: 1px solid #0f62fe;
    background-color: #0f62fe;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    width: 10%;
    font-weight: 100;
    font-family: IBM Plex Sans;
}

.primary-button-with-icon:hover {
    /* background-color: #0f62fe; */
    /* color: white; */
    background-color: #0d58e4;
    cursor: pointer;
}

