.tertiary-button {
    font-size: 1rem;
    border: 1px solid #0f62fe;
    color: #0f62fe;
    padding: 1rem 4rem 1rem 1rem;
    width: 10%;
    font-family: IBM Plex Mono Light;
}

.tertiary-button:hover {
    background-color: #0f62fe;
    color: white;
    cursor: pointer;
  }
